@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--success: #10b981; /* The value for green-500 in Tailwind */
}

.tiptap > * {
	@apply relative;
}

.tiptap > * .hoverButton {
	@apply absolute -left-16 flex h-8 w-16 justify-end;
}

.tiptap > *:hover .hoverButton > div {
	@apply mr-2 rounded-md bg-slate-100 p-1.5 text-slate-300 opacity-100;
}

.tiptap > *:hover .hoverButton > div:hover {
	@apply mr-2 rounded-md bg-slate-200 p-1.5 text-slate-500 opacity-100;
}

.hoverButton > div {
	@apply opacity-0;
}

.hoverButton:focus {
	@apply border-0 outline-0 ring-0;
}

button.bubbleButton {
	@apply h-full items-center justify-center whitespace-nowrap px-2 align-middle text-sm text-slate-600 hover:bg-slate-100;
}

li[data-checked='true'] {
	@apply line-through;
}

h1 {
	@apply relative my-5 text-3xl font-extrabold tracking-tighter text-slate-950;
}

a {
	@apply cursor-pointer text-indigo-600 underline hover:text-indigo-700;
}

img {
	@apply rounded shadow-sm outline-4 -outline-offset-4;
}

hr {
	@apply mb-4;
}

h1:first-of-type {
	@apply my-0 -ml-16 -mr-16 -mt-8 pb-4 pl-16 pr-16 pt-16 text-4xl text-black;
}

h2 {
	@apply mb-2 mt-6 text-xl font-bold text-slate-900;
}
h3 {
	@apply mb-1 mt-2 text-lg font-semibold text-slate-800;
}

p {
	@apply mb-3 leading-7 text-slate-700;
}

ul p,
ol p {
	@apply my-1;
}

ul {
	@apply mb-1 list-disc pl-4;
}

ol {
	@apply mb-1 list-decimal pl-4;
}

blockquote {
	@apply mb-4 border-l-2 border-black bg-slate-100 p-2;
}

blockquote p {
	@apply my-0;
}

pre {
	@apply my-3 rounded-md bg-slate-800 p-4 text-slate-200;
}

code {
	@apply rounded-sm bg-fuchsia-200 p-1 text-sm;
}

pre code {
	@apply bg-slate-800 text-slate-200;
}

.tiptap {
	@apply border-0 outline-0 outline-offset-0 ring-0 transition-all duration-200 ease-in-out;
}

table {
	@apply my-4 w-full table-fixed border-collapse border-[1px];
}

td,
th {
	@apply relative box-border border-[1px] border-slate-200 px-2 py-1;
}

th {
	@apply bg-slate-100 font-semibold;
}

table p {
	@apply my-0;
}

ul[data-type='taskList'] {
	list-style: none;
	padding: 0;
}

ul[data-type='taskList'] p {
	margin: 0;
}

ul[data-type='taskList'] li {
	@apply flex flex-row;
}

ul[data-type='taskList'] li > label {
	flex: 0 0 auto;
	margin-right: 0.5rem;
	margin-top: 0.2em;
	user-select: none;
}

ul[data-type='taskList'] li > div {
	flex: 1 1 auto;
}

ul[data-type='taskList'] li ul li,
ul[data-type='taskList'] li ol li {
	display: list-item;
}

ul[data-type='taskList'] ul[data-type='taskList'] > li {
	display: flex;
}

.tiptap .is-empty::before {
	content: attr(data-placeholder);
	float: left;
	color: #ced4da;
	pointer-events: none;
	height: 0;
}

.resize-cursor {
	cursor: ew-resize;
	cursor: col-resize;
}

.column-resize-handle {
	position: absolute;
	z-index: 2;
	right: -2px;
	top: 0;
	bottom: -2px;
	width: 3px;
	background-color: lightblue;
	pointer-events: none;
}

.selectedCell:after {
	z-index: 2;
	position: absolute;
	content: '';
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: rgba(200, 200, 255, 0.4);
	pointer-events: none;
}
.tableWrapper {
	//overflow-x: auto;
	position: relative;
}

.iconWrapper {
	@apply h-[96px] w-[96px] rounded-lg  hover:bg-black/25;
}

.iconWrapper > span {
	font-size: 80px;
	line-height: 96px;
}

.iconWrapper > img {
	width: 64px;
	height: 64px;
	object-fit: cover;
	@apply mx-auto my-auto rounded-lg shadow-2xl ring-8 ring-white;
}

/*
Highlight JS Syntax Highlighting
*/

.hljs-comment,
.hljs-quote {
	color: #616161;
}

.hljs-variable,
.hljs-template-variable,
.hljs-attribute,
.hljs-tag,
.hljs-name,
.hljs-regexp,
.hljs-link,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class {
	color: #f98181;
}

.hljs-number,
.hljs-meta,
.hljs-built_in,
.hljs-builtin-name,
.hljs-literal,
.hljs-type,
.hljs-params {
	color: #fbbc88;
}

.hljs-string,
.hljs-symbol,
.hljs-bullet {
	color: #b9f18d;
}

.hljs-title,
.hljs-section {
	color: #faf594;
}

.hljs-keyword,
.hljs-selector-tag {
	color: #70cff8;
}

.hljs-emphasis {
	font-style: italic;
}

.hljs-strong {
	font-weight: 700;
}
